ENV=development
PORT=YOUR_PORT
SERVER_URL=http://localhost:3000


DATABASE_URL=""


# Set environment variables
ADMIN_JWT_SECRET=
ADMIN_JWT_EXPIRES_IN=
ADMIN_REFRESH_TOKEN_EXPIRES_DAYS=3
BCRYPT_SALT_ROUNDS=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=